@charset "UTF-8";
/* CSS Document */

body {background-color: black;
	text-align: center}

.lMainFrame{
	position: absolute;
	width: 376px;
	overflow-y: scroll;
	height:100vh;
}

p
{

text-align: left;

font-family: Arial, Helvetica, san-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;}


h2
{position: absolute;
width: 480px;
height: 480px;
left: 400px;
top: 0px;}

h3
{position: absolute;
width: 480px;
height: 270px;
left: 402px;
top: 503px;}

h4
{position: absolute;
width: 480px;
height: 332px;
left: 903px;
top: 0px;}

h5
{position: absolute;
width: 480px;
height: 416px;
left: 903px;
top: 362px;}

.rMainFrame{
	position: absolute;
	display:flex;
	justify-content: flex-end;
	align-items: center;
	height:calc(100vh - 40px);
	width: calc(100vw - 376px);
	right:0;
	overflow: hidden;
	/* padding:20px; */
}
.rMainFrame div{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding:10px
}

.imgContMain{
	width:100%;
	cursor: pointer;
}
.imgContMain img{
	width:100%;
}
